%%-*- mode: erlang -*-

{erl_opts, []}.

% Mixin modules need to be compiled first
{erl_first_files, ["src/ehome_rest_base.erl"]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git",
        {branch, "master"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git",
        {branch, "master"}}},
    {mixer, ".*", {git, "git://github.com/chef/mixer.git",
        {branch, "master"}}},
    {mqtt_server, ".*", {hg, "https://bitbucket.org/pvalsecc/erlangmqtt", "tip"}}
]}.
