%%-*- mode: erlang -*-

{erl_opts, [{parse_transform, lager_transform}, warnings_as_errors]}.

% Mixin modules need to be compiled first
{erl_first_files, ["src/ehome_rest_base.erl"]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git",
        {tag, "2.1.0"}}},
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git",
        {tag, "341f991"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git",
        {tag, "0.14.2"}}},
    {mixer, ".*", {git, "git://github.com/chef/mixer.git",
        {branch, "master"}}},
    {mqtt_server, ".*", {hg, "https://bitbucket.org/pvalsecc/erlangmqtt", "tip"}}
]}.
