[
    {erlhome, [
        {enable_persistency, true},
        {enable_mqtt, true}
    ]},

    {lager, [
        {log_root, "/tmp/erlhome"},
        {colored, true},
        {crash_log, "/tmp/erlhome/crash.log"},
        {handlers, [
            {lager_console_backend, [debug, {lager_default_formatter,
                [time, color, {module, [" [", module, "] "], [" [] "]},
                    "\e[0m", message, "\n"]}]},
            {lager_file_backend, [{file, "error.log"}, {level, error},
                {size, 10485760}, {count, 5},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, {pid, ""},
                    {module, [module, {function, [":", function], ""},
                        {line, [":", line], ""}], ""}, " ", message, "\n"]}
            ]},
            {lager_file_backend, [{file, "debug.log"}, {level, debug},
                {size, 10485760}, {count, 5},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, {pid, ""},
                    {module, [module, {function, [":", function], ""},
                        {line, [":", line], ""}], ""}, " ", message, "\n"]}
            ]}
        ]}
    ]}
].